.mainNav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}
.main{
  text-align: center;
  margin-top: 5rem;

}
.mainNav ul li{
  list-style: none;
  font-weight: bold;
  margin: 1rem 1rem;
  cursor: pointer;
}
.blog
{
  text-align: center;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.blogSection{
    margin-top: 5rem;
    padding: 2rem 1rem;
    max-width: 80vw;
    padding-left: 20rem;
}